<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Fases do Amor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="pedido-box">
        <h2>{{ fase.texto }}</h2>
        <p>{{ fase.pergunta }}</p>

        <form method="POST">
            <input type="text" name="resposta" placeholder="Digite sua resposta..." required>
            <button type="submit" class="sim">Próxima</button>
        </form>
    </div>
</body>
</html>
