<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Uma última pergunta…</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="pedido-box">
    <h1>Depois de tudo isso…</h1>
    <p>
        Letícia Julia da Silva…<br><br>
        você colocaria uma aliança no meu dedo<br>
        e caminharia comigo para sempre?
    </p>

    <form action="/resposta" method="post">
        <button class="sim" name="escolha" value="sim">Sim 💍</button>
        <button class="nao" name="escolha" value="nao">Não 😳</button>
    </form>
</div>

<script src="/static/fuja.js"></script>
</body>
</html>
